language: python
python:
    - 3.5
    - 3.6
jobs:
    include:
        - python: 3.7
          dist: xenial
          sudo: required
install:
    - travis_retry pip install codecov flake8
before_script:
    - flake8 aioftp
script:
    - python setup.py test
branches:
    only:
        - master
after_success:
    codecov
